body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que a página ocupe toda a altura da tela */
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, html {
    margin: 0;
    padding: 0;
}

header {
    background-color: greenyellow;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

section {
    padding: 20px;
    text-align: center;
    flex-grow: 1; /* Faz com que a seção ocupe o espaço disponível entre o header e o footer */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 36px; /* Aumenta o tamanho da fonte para o título */
    margin-bottom: 20px;
    color: greenyellow; /* Altera a cor do título */
}

img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}

div > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div i {
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
}

div p {
    margin: 0;
}

button {
    padding: 15px 30px; /* Ajusta o padding do botão para torná-lo mais visível */
    background-color: #ffff00;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px; /* Aumenta o tamanho da fonte do botão */
}

button:hover {
    background-color: #ffff00;
}

footer {
    background-color: greenyellow;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

footer li {
    margin: 0 10px;
}

footer a {
    text-decoration: none;
    color: #333;
}

footer a:hover {
    color: #007BFF;
}
